body {
  margin: 0;
  font-family: "Acme", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #fff;
  background-color: rgb(35, 35, 37);
}
h4{
  color: rgb(154, 180, 250);
  opacity: 0.8;
}
.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 15%;
    width: 60%;
}

.mb-3 {
  position: relative;
  width: 50%;
  padding-top: 10px;
  margin-left: 30%;
  align-items: center;

  width: 400px;
  color: rgb(252, 252, 252);
  opacity: 0.8;
}
#titleHelp{
  position: absolute;
  width: 400px;
  color: rgb(252, 252, 252);
  opacity: 0.4;
}
input{
  position: relative;
  min-width: 400px;
  max-width: 450px;
  margin: 0 auto;
}
button{
margin-left: 20%;
}