.main {
  width: 90%;
  margin: 0% 5% 0% 5%;
}
nav ul li {
  position: relative;
  display: inline;
  padding: 0px 20px;
}
h1 {
  padding: 10px 0px 0px 20px;
}
label {
  position: relative;
  margin: 15px;
  top: 5px;
}
input {
  margin: 10px;
}
#map {
  margin: 1% 1% 1% 5%;
  height: 290px;
  width: 90%;
}
