.main {
  width: 90%;
  margin: 0% 5% 0% 5%;
}
.navbar {
  margin: 0px;
  padding: 0px 20px;
  width: 100%;
}
table{
  border: 2px solid darkblue;
}
td {
  width: 90%;
  border: 2px solid darkblue;
}
/* @each $header, $size in (
  h1:2em, h2: 1.5em, h3: 1.2em){
#{$header}{ font-size:$size;
}
} */
.col1 {
  width: 5%;
  border: 2px solid darkblue;
}
.col2 {
  width: 40%;
  border: 2px solid darkblue;
}
.col3 {
  width: 40%;
  border: 2px solid darkblue;
}
.col4 {
  width: 10%;
  border: 2px solid darkblue;
}
.form-name{
 width: 100%;
}
h1 {
  padding: 10px 0px 0px 20px;
}
label {
  position: relative;
  margin: 15px;
  top: 5px;
}
input {
  margin: 10px;
}
#map {
  margin: 1% 1% 1% 5%;
  height: 290px;
  width: 90%;
}
button {
  margin: 20px 0px 20px 20px;
}
.delete{
  margin: 10px;
}
